<div class="container", style="margin-top: 15px;">

   <% if !flash[:notice].blank? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
   <% end %>

   <h1 style="margin-top:20px">Project Detail</h1>

   <%= link_to 'Edit', edit_client_project_path(@client, @project), class: 'btn btn-info', style: 'margin-left:1000px' %> | 
   <%= link_to 'Destroy', client_project_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info' %>  | 
   <%= link_to 'Back', client_projects_path, class: 'btn btn-success' %>

   <p>
     <strong>Title:</strong>
     <%= @project.title %>
   </p>

   <p>
     <strong>Description:</strong>
     <%= @project.description %>
   </p>
   <br>
   
   <div id="comment">
     <h2><%= @project.comments.count %> Comments</h2>
     <%= render @project.comments %>
   </div>

   <h2 style="margin-top: 10px">Add Comments</h2>
   <%= render 'comments/form' %>

</div>
